body {
    margin: 0;
    padding: 0;
    font-size: 14;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 300;
    line-height: 1 6rem;
    background-color: white;
    color: white;
    scroll-behavior: smooth;
}

.navbar-header {
    margin: 15px;
    padding: 0;

}

.container {
    list-style-type: none;
}

span {
    color: rgb(239, 243, 15);
    margin: 45px;
}

.navbar-brand ul li a {
    text-decoration: none;
    color: bisque;
    margin-right: 20px;
}

.navbar-brand ul li a:hover {
    color: deeppink;
    transition: 0ms;
}

.navbar-brand ul {
    list-style-type: none;
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
    padding: -5px;
    margin: 20px;
    text-decoration: none;
    height: 0px;
    margin-left: 120px;
    font-size: 14px;
}

.navbar-login {
    margin-left: 110px;
    background-color: blanchedalmond;
    border-radius: 5px;
    color: rgb(9, 191, 247);
    height: 10px;
    width: 10px;
}

.navbar-login:hover {
    background-color: blue;
    transition: 0ms;
}

.navbar-sign-up {
    margin-left: 100px;
    background-color: rgb(240, 186, 9);
    border-radius: 5px;
    margin: 10px;
    color: black;
}

.navbar-sign-up:hover {
    background-color: chartreuse;
    transition: 0ms;
}

.navbar,
.navbar-default {
    background-color: rgb(22, 22, 22);
    padding: 15px;
    height: 100px;
    border-radius: 15px;
}

.bannier {
    position: relative;
    width: 100%;
    min-height: 100vh;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(/images/2c8abd48705042e4a6eb1c87b01b3337.jpg);
    background-size: cover;
}

.bannier .contenu {
    text-align: center;
    text-transform: capitalize;
}

.row {
    position: relative;
    width: 110%;
    display: flex;
    justify-content: space-between;
}

.row .col50 {
    position: relative;
    width: 50%;
    height: 50%;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.row .col50 h2 {
    margin-bottom: 20px;
}

.col50 p {
    color: black;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
}

.titre-texte {
    font-size: 2em;
    font-weight: 300px;
    text-transform: capitalize;
}

.titre-texte span {
    color: #fb911f;
    font-size: 1.5em;
    font-weight: 700px;
}

h2 {
    font-size: 1.5em;
    font-weight: 700px;
    color: black;
}

img {
    padding: 50px;
    width: 500px;
    height: 500px;
}

.row .col50 .img {
    height: 50%;
    width: 10%;
    position: relative;
}


.row1 {
    position: relative;
    width: 110%;
    display: flex;
    justify-content: space-between;
}


.row1 .col51 {
    position: relative;
    width: 50%;
    height: 50%;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.col51 p {
    color: black;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
}


.row2 {
    position: relative;
    width: 110%;
    display: flex;
    justify-content: space-between;
}


.row2 .col52 {
    position: relative;
    width: 50%;
    height: 50%;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.col52 p {
    color: black;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
}

h3 {
    font-size: 1.5em;
    font-weight: 700px;
    color: rgb(228, 19, 19);
    margin-left: 600px;
}

.imbox p {
    color: black;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
}

.image {
    position: relative;
    width: 10%;
    height: 10%;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-left: 800px;
}


/* partie du login  */

.container-login {
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
    background-image: url(/images/3a1cce4d07bc9ee586403c8250f583c3.jpg);
    height: 965px;
    background-size: cover;
}

.form {
    background-color: rgb(56, 247, 18);
    height: 600px;
    width: 450px;
    border-radius: 20px;
    box-shadow: 0 8px 24px rgba(236, 9, 236, 0.45),
        0 8px 8px rgba(19, 18, 18, 0.45);
}

h1 {
    color: blue;
    padding: top;
    margin: 150px;
    margin-bottom: 50px;
    font-weight: 800;
    font-size: 30px;
}

input {
    margin: 20px;
    color: black;
    padding: 15px;
    height: 10px;
    width: 300px;
}

.form__input-error-messages {
    margin: 20px;
    color: black;
}

.form__input-password-incorrect {
    margin: 20px;
    color: black;
}

.form_button {
    background-color: #adf;
    color: #00203f;
    border: 1px solid #adf;
    font-size: 16px;
    font-weight: bold;
    border-radius: 50px;
    padding: 10px 25px;
    margin-top: 20px;
    letter-spacing: 1px;
    border-color: #00203f;
    transition: .2s ease-in;
    margin-left: 150px;
}

.form_button:hover {
    cursor: pointer;
    background-color: #00203f;
    color: #f6f5f7;
}

/* partie sign up */

.tel span {
    margin: 20px;
    color: black;
}

.container-sign-up {
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
    background-image: url(/images/14b94447cbf7048bb23881d6e8003850.jpg);
    height: 965px;
    background-size: cover;
}

#sign-up {
    height: 700px;
    width: 500px;
}

/* partie gestion des dons */

.dons {
    margin-left: 700px;
}

.navbar-dons ul {
    list-style-type: none;
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
    /* padding: -5px;
    margin: 20px; */
    /* text-decoration: none;
    height: 0px;
    margin-left: 120px; */
    /* font-size: 14px; */
    /* color: aqua; */
}

p {
    color: black;
}

.ligne {
    margin-left: 700px;
    color: #fb911f;
}