body {
    margin: 0;
    padding: 0;
    font-size: 14;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 300;
    line-height: 1 6rem;
    background-color: white;
    color: white;
    scroll-behavior: smooth;
}


.navbar-header {
    margin: 15px;
    padding: 0;
    height: 20px;
}

.navbar-header img {
    width: 70px;
    height: 70px;
}

.container {
    list-style-type: none;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(/images/2c8abd48705042e4a6eb1c87b01b3337.jpg);
    background-size: cover;
}

span {
    color: rgb(239, 243, 15);
    margin: 45px;
}

.navbar-brand ul li a {
    text-decoration: none;
    color: bisque;
    margin-right: 20px;
    margin-left: 100px;
}

.navbar-brand ul li a:hover {
    color: deeppink;
    transition: 0ms;
}

.navbar-brand ul {
    list-style-type: none;
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
    padding: -5px;
    margin: 20px;
    text-decoration: none;
    height: 0px;
    margin-left: 120px;
    font-size: 20px;
    text-transform: capitalize;
}

.navbar-login {
    margin-left: 900px;
    border-radius: 5px;
    color: rgb(9, 191, 247);
    height: 10px;
    width: 10px;
}

.navbar-login:hover {
    background-color: chartreuse;
    transition: 0ms;
}

.navbar-sign-up {
    margin-left: 100px;
    /* background-color: rgb(240, 186, 9); */
    border-radius: 5px;
    margin: 10px;
    color: black;
}

.navbar-sign-up:hover {
    background-color: chartreuse;
    transition: 0ms;
}

.navbar,
.navbar-default {
    /* background-color: rgb(22, 22, 22); */
    padding: 15px;
    height: 100px;
    border-radius: 15px;
}

.bannier {
    position: relative;
    width: 100%;
    min-height: 100vh;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(/images/2c8abd48705042e4a6eb1c87b01b3337.jpg);
    background-size: cover; */
}

.bannier .contenu {
    text-align: center;
    text-transform: capitalize;
    padding: 0px;
    /* font-size: 50;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700; */
}

.bannier .contenu h1 p {
    color: blanchedalmond;
    font-size: 20;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: 500;
}

.bannier .contenu p {
    font-size: 20px;
    font-weight: 300;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.row {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 1500px;
    margin-left: 100px;
}

.row1 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 1500px;
    margin-left: 100px;
}

.row2 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 1500px;
    margin-left: 100px;
}

.titre-texte {
    font-size: 2em;
    font-weight: 300px;
    text-transform: capitalize;
    margin-left: 400px;
}

.titre-texte span {
    color: #080808;
    /* font-size: 1.5em; */
    font-weight: 700px;
}

h2 {
    font-size: 1.5em;
    font-weight: 700px;
    color: #fb911f;
}

img {
    padding: 50px;
    width: 400px;
    height: 400px;
    /* border-radius: 50px;
    box-shadow: 0 5px 15px rgba(247, 142, 5, 0.45),
        0 4px 4px rgba(219, 162, 6, 0.45); */
    /* background-color: #fb911f; */
}

h3 {
    font-size: 1.5em;
    font-weight: 700px;
    color: #fb911f;
    margin-left: 600px;
}

.imbox p {
    color: black;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
}

.image {
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    /* margin-left: 100px; */
    /* border-radius: 50px; */

}


/* partie du login  */

.container-login {
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(/images/3a1cce4d07bc9ee586403c8250f583c3.jpg);
    height: 855px;
    background-size: cover;
}

.form {
    background-color: rgba(37, 238, 19, 0.4);
    height: 600px;
    width: 450px;
    border-radius: 20px;
    box-shadow: 0 8px 24px rgba(114, 18, 240, 0.45),
        0 8px 8px rgba(19, 18, 18, 0.45);
}

h1 {
    color: blue;
    padding: top;
    margin: 150px;
    margin-bottom: 50px;
    font-weight: 800;
    font-size: 30px;
}

input {
    margin: 20px;
    color: black;
    padding: 15px;
    height: 10px;
    width: 300px;
    margin-left: 100px;
}

.form-input {
    margin-left: 50px;
}

.form__input-error-messages {
    margin: 20px;
    color: black;
}

.form__input-password-incorrect {
    margin: 20px;
    color: black;
}

.form_button {
    background-color: #adf;
    color: #00203f;
    border: 1px solid #adf;
    font-size: 16px;
    font-weight: bold;
    border-radius: 50px;
    padding: 10px 25px;
    margin-top: 20px;
    letter-spacing: 1px;
    border-color: #00203f;
    transition: .2s ease-in;
    margin-left: 150px;
}

.form_button:hover {
    cursor: pointer;
    background-color: #00203f;
    color: #f6f5f7;
}

/* partie sign up */

.tel span {
    margin: 20px;
    color: black;
    margin-left: 90px;
}

.menace {
    background-color: rgba(37, 238, 19, 0.4);
    height: 700px;
    width: 450px;
    border-radius: 20px;
    box-shadow: 0 8px 24px rgba(114, 18, 240, 0.45),
        0 8px 8px rgba(19, 18, 18, 0.45);
}

.container-sign-up {
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(/images/14b94447cbf7048bb23881d6e8003850.jpg);
    height: 855px;
    background-size: cover;
}

#sign-up {
    height: 700px;
    width: 500px;
}

/* partie gestion des dons */

.dons {
    margin-left: 700px;
    justify-content: center;
    align-items: center;
}

.navbar-brand ul {
    list-style-type: none;
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
    padding: -5px;
    margin: 20px;
    text-decoration: none;
    height: 0px;
    margin-left: 120px;
    color: aqua;
    font-size: 20px;
    text-transform: capitalize;
}


.detail {
    margin-right: 300px;
}

.partage {
    margin-right: 300px;
}

.objectif {
    margin-right: 300px;
}

.rencontre {
    margin-right: 300px;
    margin-left: 200px;
}

/* p {
    color: black;
    width: 1200px;
    margin-left: 100px;
} */
.accueil p {
    color: black;
    width: 1200px;
    margin-left: 100px;
}

.ligne {
    margin-left: 700px;
    color: #fb911f;
}

label {
    color: black;
}

.projet h2 {
    margin-left: 700px;
}

.renseignement h2 {
    margin-left: 700px;
}

/* h2 {
    margin-left: 700px;
} */

.projets_d_evolution {
    position: relative;
    width: 50px;
    height: 10%;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-left: 700px;
}

.bronlins form {
    align-items: center;
    justify-content: center;
    display: block;
}

.projets_d_evolution p {
    display: block;
    width: 800px;
    padding: 10px;
}

.contact {
    margin-left: 700px;
}

footer {
    background-color: aqua;
    height: 200px;
}

.boby {
    background-color: #7a7671;
    padding: 0px;
    top: 0%;
    border-radius: 10px;
}


footer p {
    margin-left: 700px;
    padding: 50px;
}

/* gestion de beneficiaire */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.beneficiaire {
    width: 800px;
    margin: 50px auto;
    background: #969594;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

h1 {
    text-align: center;
}

form {
    margin-bottom: 30px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

/* 
input[type="text"],
input[type="email"] {
    width: 300px;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
} */

button {
    padding: 10px 15px;
    background-color: #4c11f0;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table,
th,
td {
    border: 1px solid #ddd;
}

th,
td {
    padding: 12px;
    text-align: left;
}

th {
    background-color: #f85307;
}

tr:nth-child(even) {
    background-color: #2109f8;
}

tr:hover {
    background-color: #e2e6ea;
}

footer ul.link-list li a {
    color: #fff;
}

footer ul.link-list li a:hover {
    color: #eee;
}

/* ===== Widgets ===== */

/* --- flickr --- */
.widget .flickr_badge {
    width: 100%;
}

.widget .flickr_badge img {
    margin: 0 9px 20px 0;
}

footer .widget .flickr_badge {
    width: 100%;
}

footer .widget .flickr_badge img {
    margin: 0 9px 20px 0;
}

.flickr_badge img {
    width: 50px;
    height: 50px;
    float: left;
    margin: 0 9px 20px 0;
}

/* --- Recent post widget --- */

.recent-post {
    margin: 20px 0 0 0;
    padding: 0;
    line-height: 18px;
}

.recent-post h5 a:hover {
    text-decoration: none;
}

.recent-post .text h5 a {
    color: #353535;
}


footer {
    padding: 50px 0 0 0;
    color: #f8f8f8;
    background-color: #f16608;
    height: 400px;
}

footer a {
    color: #fff;
}

footer a:hover {
    color: #eee;
}

footer h1,
footer h2,
footer h3,
footer h4,
footer h5,
footer h6 {
    color: #fff;
}

footer address {
    line-height: 1.6em;

}

footer h5 a:hover,
footer a:hover {
    text-decoration: none;
}

ul.social-network {
    list-style: none;
    margin: 0;
}

ul.social-network li {
    display: inline;
    margin: 0 5px;
}

#sub-footer {
    text-shadow: none;
    color: #f5f5f5;
    padding: 0;
    padding-top: 30px;
    margin: 20px 0 0 0;
}

#sub-footer p {
    margin: 0;
    padding: 0;
}

#sub-footer span {
    color: #f5f5f5;
}

.copyright {
    text-align: left;
    font-size: 12px;
    margin-right: 1000px;
}

#sub-footer ul.social-network {
    float: right;
}